body {
    font-family: "Moderustic", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Stuff*/
header {
background-color: #efdfcc;
padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #66796b;

}

header p {
    margin: 0;
    color: #66796b;
    letter-spacing: .5px;
}

/* Nav Stuff */
nav{
    background-color: #ba8e74;

}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #526758;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color: #66796b;
    color: #ba8e74;
}

/* Main Stuff */
main {
    padding: 1rem 2%;
}

main h1 {
    color: #66796b;
}

main h2 {
    color: #66796b;
    margin-bottom: .2rem;
}

main h4 {
    color: #d7a184;
    margin-bottom: .2rem;
}

main p {
    color: #66796b;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
}

main dl dt {
    color: #d7a184;
    font-weight: 700;
}

main dl dd {
    color: #66796b;;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main ol li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #ded1c1;
    padding: .5rem;
    width: 13rem;
    border: 1px solid #66796b;
    border-radius: 5px;
}

main a {
    color: #66796b;
}

main a:hover {
    color: #ba8e74;
}

/* Footer Stuff */
footer {
    background-color: #efdfcc;
    text-align: center;
    color: #66796b;
    padding: 2rem 0;
    font-size: .8rem;
}

footer a {
    color: #66796b;
}
